body {
  margin: 0;
  background: linear-gradient(to right, rgb(245, 52, 249), rgb(51, 185, 230));
  font-family: "Courier new", Courier, monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
